page-login {
    ion-item{
        color:#488aff;
    }

    ion-title * {
        margin-top:30vh;
        margin-bottom:5vh;
    }
/*
    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating],
    .input-has-focus .input-wp-border-color
    {
    color: #3df5d6 !important;
    }*/

    .item-md.item-input .item-inner {
        border-bottom-color: orange !important;
    }
}
